/*
 * Estilos de tu proyecto
 azul marino #2c3e50
 turquesa #18bc9c
 azul footer #233140
 letras negras #333
 */

 body {
   font-family: 'Raleway', sans-serif;
   color: whitesmoke;
   margin: 0 auto;
   font-size: 16px;
   text-align: center;
 }

 /* LOGO STARS */
 .line{
   border: 2px solid white;
   width: 80px;
   margin-bottom: 10px;
 }
 .line, .fa-star{
    display: inline-block;
 }
 .black-star{
   color: #233140;
 }
 .black-star i{
   padding: 5px;
 }
 .black-star .line{
   border-color: #233140;
 }

/* SECCION HEADER */
 header{
   background-color: #2c3e50;
   text-align: left;
   position: fixed;
   width: 100%;
   padding: 15px;
   top: 0;
   z-index: 1000;
 }

 .smaller {
    display: block;
    padding: 5px;
    margin-top: 0;
 	  font-size: 90%;
 }

 #nav a{
   text-decoration: none;
   color: whitesmoke;
   font-size: 25px;
   font-weight: bold;
   padding-left: 3%;
 }

#nav .link{
  position: relative;
  left: 50%;
  color: whitesmoke;
  font-size: 14px;
  padding: 21px;
  display: inline-block;
}
 #nav .link:hover{
  color: #18bc9c;
 }
 #nav .link:active{
  background-color: #18bc9c;
 }

/* -- SECCION HOME -- */
 #home{
   background-color: #18bc9c;
   margin-top: 87px;
 }
#home .container{
  width: 50%;
  padding: 50px;
}

#home i{
  padding: 15px 5px 35px 5px;
}

.text-home{
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bolder;
}

/* -- SECCION PORTFOLIO -- */
#portfolio h3{
  font-size: 35px;
  font-weight: bold;
  color: #333;
  padding-top: 2em;
}
#portfolio i{
  padding: 5px;
  color: #233140;
}
#portfolio .container{
  padding: 3em 0;
}

.box-portfolio{
  position: relative;
  cursor: pointer;
}
.box-portfolio:after {
    content: "\f00e";
    font-size: 3rem;
    position: absolute;
    width: 95%;
    height: 92%;
    top: 10px;
    left: 10px;
    right: 0;
    background-color: #18BC9C;
    color: #fff;
    font-family: "FontAwesome";
    box-sizing: border-box;
    text-align: center;
    padding: 30% 0;
    opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
}
.box-portfolio:hover:after {
	opacity: 0.98;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

/* -- SECCION ABOUT -- */
#about{
  background-color: #18bc9c;
}
#about .container{
  width: 50%;
  padding: 5em 0;
}

#about i{
  padding: 5px;
}
.container h3{
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 20px;
}

.text-about{
  text-align: left;
  font-weight: lighter;
}
.btn-download{
  width: 150px;
  height: 50px;
  color: whitesmoke;
  background-color: #18bc9c;
  font-size: 14px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}

/* -- SECCION CONTACTO -- */
#contact h3{
  font-size: 35px;
  font-weight: bold;
  color: #333;
  padding-top: 2em;
}
#contact i{
  padding: 5px;
  color: #233140;
}
.formulario{
  position: relative;
  left: 25%;
  width: 50%;
  text-align: left;
  padding-bottom: 5em;
}
.formulario .in-form{
  width: 100%;
  height: 60px;
  padding: 10px 0;
  background-color: #fff;
  font-size: 14px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(205, 205, 205, 0.1);
}
.formulario .textarea{
  padding-bottom: 100px;
  margin-bottom: 20px;
}

#btn-submit{
  background-color: #18bc9c;
  color: whitesmoke;
  width: 4em;
  height: 30px;
  border-radius: 5px;
  border-style: hidden;
  cursor: pointer;
}

/* -- SECCION FOOTER -- */

footer{
  background-color: #2c3e50;
}
footer .container{
  padding: 30px;
}

.container h5{
  font-size: 20px;
  padding-bottom: 20px;
}
.btn-social{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #2c3e50;
  color: whitesmoke;
  border-radius: 50px;
  border-style: solid;
  border-color: whitesmoke;
  cursor: pointer;
}
.btn-social:hover{
  background-color: #fff;
  color: #18bc9c;
}

.col-4 p{
  font-size: 14px;
}
.col-4 p a{
  text-decoration: none;
  color: #18bc9c;
  cursor: pointer;
}
.copyright{
  font-size: 14px;
  font-weight: lighter;
  background-color: #233140;
  padding: 20px 0;
}

/* -- MODAL -- */
#portfolio-modal{
  background-color: rgba(226, 226, 226, 0.98);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

#portfolio-modal .modal-body{
  color: #333;
  width: 50%;
  margin: 2em auto;
  border-color: whitesmoke;
}
#portfolio-modal .modal-body h4{
  font-size: 30px;
}
#portfolio-modal .modal-body img{
  width: 95%;
  padding: 1em 0 2em 0;
}

#portfolio-modal .modal-body .texto-color{
  color: #18bc9c;
}
#portfolio-modal .modal-body .data{
  display: inline-block;
  margin: 10px 5px;
}
#portfolio-modal .close{
  color: rgba(57, 57, 57, 0.39);
  font-weight: lighter;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 50px;
  cursor: pointer;
}
#portfolio-modal .close:hover{
  color: #18bc9c;
}
.hide{
  display: none;
}
